<h1>Rock Paper Scissors</h1>
<form action="/play">
  <select name="p1" id="p1">
    <option name="rock" value="rock">Rock</option>
    <option name="paper" value="paper">Paper</option>
    <option name="scissors" value="scissors">Scissors</option>
  </select><br>
  <button type="submit" class=" shoot btn-success">Shoot</button>
</form>
