<!DOCTYPE html>
<html>
  <head>
    <title>Hello Friend!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel='stylesheet' type='text/css' href="/css/main.css">
  </head>
  <body>
    <header>
    </header>
    <div class="container">
      <%= yield %>
    </div>
    <script   src="https://code.jquery.com/jquery-3.0.0.min.js"   integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0="   crossorigin="anonymous"></script>
    <!-- <script type="text/javascript" src="<%= url('js/gameplay.js') %>"> -->
    </script>
  </body>
</html>
